$clr-root: #ffffff;
$clr-body: #002947;
$clr-primary:#E47C29;
$clr-secondary: #024B5C;
$clr-tertiary: #00B2DB;
$clr-dark: #08131B;
$clr-success: #4dc738;
$clr-error: #ff5354;
$clr-border: #d9d9d9;
$clr-black: #000000;
$clr-grey: #e4e4e4;
$clr-base: #474747;
$clr-base-2: #5E7484;
$clr-base-3: #fffdfd;

/* font-family */
$font: 'Archivo', sans-serif;

/* font-weights */

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

/* breakpoints */


$sm-mobile: 574px;
$mobile: 768px;
$tablet: 992px;
$sm: 1025px;
$md: 1200px;
$md-xl: 1366px;
$lg: 1440px;
$xl: 1680px;
$xxl: 1920px;
$xxxl: 2560px;