.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.cm-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include mq-above($sm){
        max-width: 37.5rem;
    }
}